In [1]:
import os
import sys
import pandas
import time
import os
import numpy as np
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import label_binarize

In [6]:
customer_labels = pandas.read_table('~/Downloads/customer_labels.csv', header=None, names=['cid', 'gender', 'cltv', 'churn'])

In [7]:
customer_labels

             cid gender     cltv  churn
0          55700      F     0.00  False
1         147350      F   395.00  False
2         224850      F   122.50  False
3         269650      F    30.00  False
4         478700      F   277.99  False
5         578900      F    80.99  False
6         711700      M   222.95  False
7         802300      F   119.50  False
8         871500      F   179.00  False
9         896800      F   383.50  False
10        979400      F     0.00  False
11       1128750      F   121.50  False
12       1157750      M     0.00   True
13       1215700      F     0.00   True
14       1395250      F   496.46  False
15       1440500      F    53.50  False
16       1472850      F   105.50  False
17       1474600      F   268.50  False
18       1562400      F   101.00  False
19       1708250      M    85.00  False
20       1777150      F   312.98  False
21       1847750      F   244.00  False
22       1870050      F    13.00  False
23       2038550      F   652.00  False
24       2053450      F  1258.98  False
25       2164250      F   692.96  False
26       2328650      M   130.00  False
27       2335650      F   212.50  False
28       2438300      F  1102.96  False
29       2445750      F     0.00   True
...          ...    ...      ...    ...
76370  109916000      M     0.00   True
76371  110052950      M    17.00  False
76372  110164700      F     0.00   True
76373  110264200      M   120.00  False
76374  110344100      F    12.00  False
76375  110359600      F   135.00  False
76376  110366350      M     0.00   True
76377  110388750      M   140.00  False
76378  110452900      F     0.00   True
76379  110514850      F     0.00   True
76380  110870900      M    26.50  False
76381  111120150      F     0.00   True
76382  111301900      M   170.50  False
76383  111377450      F     0.00   True
76384  111517350      F    14.00  False
76385  111545150      M     0.00   True
76386  111812800      F    66.98  False
76387  111869050      F     0.00   True
76388  112078850      M   133.00  False
76389  112295100      F     0.00   True
76390  112315850      F   322.95  False
76391  112390050      F    13.50  False
76392  112495500      F   251.00  False
76393  112498450      F    38.50  False
76394  112862700      F    53.95  False
76395  113029950      F     0.00  False
76396  113057400      F     0.00   True
76397  113183850      M    46.50  False
76398  113189200      F   108.00  False
76399  113403400      F    69.00  False

[76400 rows x 4 columns]

In [8]:
list_c = customer_labels['cid'].tolist()
list_c = np.asarray(list_c)
# shuffle list
shuf = np.random.permutation(len(list_c))
# select random cids
list_c = list_c[shuf]

In [15]:
list_c

array([131610, 167152, 263439, ...,  24017,  26979,   4879])

In [9]:
import math
XX_tr_te = range(0, len(list_c))
kf_te = KFold(n_splits=10)
tr_folds_tr_tmp = []
tr_folds_te = []
tr_folds_val = []
tr_folds_tr = []
cnt = 0

for tr, te in kf_te.split(XX_tr_te):
    tr_folds_tr_tmp.append(tr)
    tr_folds_te.append(te)
    cnt = cnt + 1

for i in range(0, 10):
    tr_indices = tr_folds_tr_tmp[i]
    shf = np.random.permutation(int(math.floor(len(tr_folds_tr_tmp[i])/10.0)))
    val_indices = tr_indices[shf]
    tr_indices = list(set(tr_indices) - set(val_indices))
    tr_folds_val.append(val_indices)
    tr_folds_tr.append(tr_indices)

In [10]:
pandas.DataFrame(list_c).to_csv('list_c.csv')

In [11]:
for i in range(0, 10):
    pandas.DataFrame(tr_folds_tr[i]).to_csv('tr_folds_tr' + str(i) + '.csv')
    pandas.DataFrame(tr_folds_te[i]).to_csv('tr_folds_te' + str(i) + '.csv')
    pandas.DataFrame(tr_folds_val[i]).to_csv('tr_folds_val' + str(i) + '.csv')

In [11]:
list_c

array([ 91830, 130155, 140470, ..., 253374, 197575,  91173])